{% extends "djangobmf/module_index.html" %}

{% load mptt_tags sekizai_tags %}

{% block base_content %}
{% addtoblock "js" %}<script type="text/javascript">$('.tree').treegrid({initialState: 'collapsed'});</script>{% endaddtoblock %}
<table class="table table-condensed table-hover tree">
  <thead>
    <tr>
      <th>Account</th>
      <th style="width: 90px;">Number</th>
      <th style="width:160px;"></th>
      <th style="width: 40px;"></th>
    </tr>
  </thead>
  <tbody>
    {% recursetree object_list %}
    <tr class="treegrid-{{ node.pk }} {% if not node.is_root_node %}treegrid-parent-{{ node.parent_id }}{% else %}warning{% endif %}">
      <td>{{ node.name }}</td>
      <td>
        {{ node.number }}
        {% if node.read_only %} <small><span class="glyphicon text-muted glyphicon-lock"></span></small>{% endif %}
        {% if node.is_root_node %}<br><small class="text-muted">{{ node.get_type_display }}</small>{% endif %}
      </td>
      <td class="text-right">{{ node.balance }} {{ node.balance_currency }}</td>
      <td class="text-right">
        <a class="btn btn-xs btn-primary" href="{{ node.bmfmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% if not node.is_leaf_node %}{{ children }}{% endif %}
    {% endrecursetree %}
  </tbody>
</table>

{% endblock %}
