{% extends "djangobmf/module_index.html" %}

{% block base_content %}
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj }}</td>
      <td class="text-right">
        <a class="btn btn-xs btn-warning" href="{{ obj.bmfmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
