{% extends "djangobmf/module_index.html" %}

{% block base_content %}
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Account</th>
      <th></th>
      <th>Credit</th>
      <th>Debit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj.modified|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ obj.transaction }}<br><small>{{ obj.account }}</small></td>
      <td class="text-right">{% if obj.credit %}{{ obj.amount }}{% endif %}</td>
      <td class="text-right">{% if not obj.credit %}{{ obj.amount }}{% endif %}</td>
      <td class="text-right">
        <a class="btn btn-xs btn-primary" href="{{ obj.bmfmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
