
// BOOTSTRAP
// -----------------------------------------------------
@import "../submodules/bootstrap/less/bootstrap.less";
@import "../submodules/bootstrap/less/theme.less";

// OWN
// -----------------------------------------------------

@bmf-sidebar-width: 200px;
@bmf-logo-dim: 32px;
@bmf-logo-padding: 3px;


// OVERWRITES
// -----------------------------------------------------

@font-size-base: 13px;
@font-size-large: 15px;
@font-size-small: 11px;

@font-size-h1: 24px;
@font-size-h2: 21px;
@font-size-h3: 18px;
@font-size-h4: @font-size-large;
@font-size-h5: @font-size-base;
@font-size-h6: @font-size-small;

@padding-base-vertical:     5px;
@padding-base-horizontal:   10px;

@padding-large-vertical:    8px;
@padding-large-horizontal:  13px;

@padding-small-vertical:    4px;
@padding-small-horizontal:  8px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@table-cell-padding:            5px;
@table-condensed-cell-padding:  3px;

@grid-gutter-width: 20px;

@navbar-height: 36px;

@container-tablet: ((720px + @grid-gutter-width - @bmf-logo-dim - 2 * @bmf-logo-padding));
//@container-desktop: @container-tablet;
@container-desktop: ((940px + @grid-gutter-width - @bmf-sidebar-width));
@container-large-desktop: ((1140px + @grid-gutter-width - @bmf-sidebar-width));

/* COLOR THEME
-------------------------------------------------- */

@brand-primary:         #DD4814; // #428bca;

@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@component-active-color:    #fff;
@component-active-bg:       #77216F; // Light aubergine

@navbar-inverse-color:                      @gray-lighter;
@navbar-inverse-bg:                         #5E2750; // #222;
@navbar-inverse-link-disabled-color:        lighten(@component-active-bg, 3%); // Light aubergine

@nav-link-hover-bg: lighten(@brand-primary, 40%);

@text-color:            #333;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @component-active-bg;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-primary;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@label-primary-bg:            @component-active-bg;
@label-warning-bg:            @brand-primary;

@breadcrumb-bg:                 @gray-lighter;
@breadcrumb-color:              @gray-light;
@breadcrumb-active-color:       @gray;

/* Sticky footer styles
-------------------------------------------------- */

html {
  overflow-y: scroll
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Navigation
-------------------------------------------------- */
.navbar-inverse {
  span.nav-text {
    display: none;
  }

  #bmf_notification, #bmf_message {
    & > a > span.glyphicon {
      color: @navbar-inverse-link-disabled-color;
    }
    & > a:hover > span.glyphicon {
      color: @navbar-inverse-link-hover-color;
    }
  }

  #bmf_notification.new {
    & > a > span.glyphicon {
      color: @brand-primary;
    }
    & > a:hover > span.glyphicon {
      color: @navbar-inverse-link-hover-color;
    }
  }
  #bmf_message.new {
    & > a > span.glyphicon {
      color: @brand-primary;
    }
    & > a:hover > span.glyphicon {
      color: @navbar-inverse-link-hover-color;
    }
  }

  #bmf_timesheet.working {
    & > a > span.glyphicon {
      color: @brand-danger;
    }
    & > a:hover > span.glyphicon {
      color: @navbar-inverse-link-hover-color;
    }
  }


}
@media (max-width: @screen-xs-max) {
  .navbar-inverse {
    span.nav-text {
      display: inline;
    }
  }
}

/* Dropdown at mouseover
-------------------------------------------------- */
@media (min-width: @screen-sm) {
  ul.nav.dashboards {
    & > li.dropdown:hover .dropdown-menu {
      display: block;
    }
  }
}

/* Markdown checklist
-------------------------------------------------- */

ul > li.checklist {
    list-style-type: none;
    position:relative;
    & > span.glyphicon {
        position: absolute;
        left: -16px;
        top: 4px;
    }
}

/* TreeGrid (js plugin)
-------------------------------------------------- */

.treegrid-indent {
    width: 8px;
    height: 16px;
    display: inline-block;
    position: relative;
}
.treegrid-expander {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}


/* Footer
-------------------------------------------------- */

footer {
    padding: @line-height-computed/2 0 @line-height-computed/2 @bmf-sidebar-width;
    margin: 0;
    color: @gray-light;
    background: @gray-lighter;
    
    p {
        padding: 0;
        margin: 0;
    }

    a {
        color: @gray-dark;
    }
    a:hover {
        color: @brand-primary;
        text-decoration: underline;
    }
}
@media(max-width: @screen-sm-max) {
    footer {
        padding-left: @bmf-logo-dim + 2 * @bmf-logo-padding;
    }

    .bmfsidebar-toggled footer {
        padding-left: @bmf-sidebar-width;
    }
}

/* MISC
-------------------------------------------------- */

#bmfapi_follow.following {
  color: @brand-warning;
  &:hover {
    color: @brand-warning;
  }
}

/* Truncating long text (DOES NOT WORK)
--------------------------------------------------

.text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

*/

/* Sitebar
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
    width: 100%;
    min-height: 100%; /* for modern browsers */
    height:auto !important; /* for modern browser */
    height:100%; /* for IE */
    overflow: hidden !important; /* FF scrollbar */ 
}

/*
#page-content-wrapper {
    background: #0f0;
}
.page-container {
    background: #00f;
}
#wrap {
    background: #0ff;
}
*/

#sidebar {
    position: fixed;
    z-index: 1000;
    width: @bmf-sidebar-width;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #000;

    p.switch {
        display: none;
        line-height: 0px;
        height: @bmf-logo-dim;
        padding: @bmf-logo-padding;
        margin: 0;
        text-align: right;

        a {
            display:block;
        }

        img {
            height: @bmf-logo-dim;
            width: @bmf-logo-dim;
        }
    }
}

#page-content-wrapper {
    margin-left: @bmf-sidebar-width;
}

// tablet or smaller get special treatment
@media(max-width: @screen-sm-max) {

    #wrap {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .bmfsidebar-toggled #wrap .page-container {
        margin-left: @bmf-sidebar-width;
    }

    .bmfsidebar-toggled #wrap #sidebar {
        width: @bmf-sidebar-width;

        ul {
            display: block;
        }
    }

    #page-content-wrapper {
        margin-left: @bmf-logo-dim + 2 * @bmf-logo-padding;
    }

    #sidebar {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: @bmf-logo-dim + 2 * @bmf-logo-padding;

        p.switch {
            display: block;
        }

        ul {
            display: none;
        }
    }
}


/* Sitebar Styles
-------------------------------------------------- */

/* TODO */
