*~
*.swp
*.pyc
*-journal

/.tox
/.coverage
/coverage.xml
/junit.xml
/reports
/htmlcov
/djangoERP.egg-info
/\.virtenv
/docs/build
/sandbox/static/
/sandbox/database.sqlite
/sandbox/local_settings.py
/js/djangoerp.js
/bootstrap.css
/fixtures.json
