include README.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
recursive-include djangoerp *
recursive-include djangoerp_contrib *
recursive-include djangoerp_currency *
recursive-exclude * *.py[co]
