{% extends "djangobmf/watch/base.html" %}

{% load i18n %}

{# block title %}{% trans "Watching" %}{% endblock #}

{% block watch_content %}
<form class="form" role="form" action="" method="post">
    <div class="hidden">
        {% csrf_token %}
    </div>
    {% if form.new_entry %}
    <div class="checkbox">
        <label>{{ form.new_entry }} {{ form.new_entry.label }}: <span class="text-info glyphicon {{ symbols.created }}"></span></label>
        <span class="help-block">{{ form.new_entry.help_text }}</span>
    </div>
    {% endif %}
    {% if has_detectchanges %}
    <div class="checkbox">
        <label>{{ form.changed }} {{ form.changed.label }}: <span class="text-info glyphicon {{ symbols.updated }}"></span></label>
        <span class="help-block">{{ form.changed.help_text }}</span>
    </div>
    {% endif %}
    {% if has_workflow %}
    <div class="checkbox">
        <label>{{ form.workflow }} {{ form.workflow.label }}: <span class="text-info glyphicon {{ symbols.workflow }}"></span></label>
        <span class="help-block">{{ form.workflow.help_text }}</span>
    </div>
    {% endif %}
    {% if has_comments %}
    <div class="checkbox">
        <label>{{ form.comment }} {{ form.comment.label }}: <span class="text-info glyphicon {{ symbols.comment }}"></span></label>
        <span class="help-block">{{ form.comment.help_text }}</span>
    </div>
    {% endif %}
    {% if has_files %}
    <div class="checkbox">
        <label>{{ form.file }} {{ form.file.label }}: <span class="text-info glyphicon {{ symbols.file }}"></span></label>
        <span class="help-block">{{ form.file.help_text }}</span>
    </div>
    {% endif %}
    <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
    <a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'djangobmf:watch' ct=selected_ct %}{% endif %}" class="btn btn-default">{% trans "Back" %}</a>
</form>
{% endblock %}
