{% load i18n %}
{% if full %}
<div class="modal-dialog">
  <div class="modal-content">
    <form class="form" role="form" action="" method="post">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Edit notifications" %}</h4>
      </div>
      <div class="modal-body">{% endif %}
        <div class="hidden">
          {% csrf_token %}
        </div>
        <p>{% trans "Informs you if the following actions occur" %}</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:70%">{% trans "Action" %}</th>
                    <th style="width:15%"></th>
                    <th style="width:15%">{% trans "Default" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% trans "New object created" %}</td>
                    <td></td>
                    <td>{{ form.new_entry }}</td>
                </tr>
                {% if has_comments %}
                <tr>
                    <td>{% trans "Comment added" %}</td>
                    <td>{{ form.comment }}</td>
                    <td>{{ form.glob_comment }}</td>
                </tr>
                {% endif %}
                {% if has_workflow %}
                <tr>
                    <td>{% trans "Workflow-state changed" %}</td>
                    <td>{{ form.workflow }}</td>
                    <td>{{ form.glob_workflow }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>{% trans "Object-data changed" %}</td>
                    <td>{{ form.changed }}</td>
                    <td>{{ form.glob_changed }}</td>
                </tr>
                {% if has_files %}
                <tr>
                    <td>{% trans "File added" %}</td>
                    <td>{{ form.file }}</td>
                    <td>{{ form.glob_file }}</td>
                {% endif %}
                </tr>
            </tbody>
        </table>
      {% if full %}</div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>{% endif %}
