{% load djangoerp_forms %}
{% load i18n %}

<div class="row">
  <div class="col-lg-2 col-md-3 text-right">
    <label class="control-label">{{ field.label }}</label>
  </div>
  <div class="col-lg-8 col-md-7" data-erp-inlineform="1">
    <div class="hidden">{{ formset.management_form }}</div>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading</div>
      {% if formset.non_field_errors or field.errors %}
      <div class="panel-body">
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="list-group">
        {% for form in formset %}
        <div class="list-group-item">
          {% for field in form %}
            {% if field.is_hidden %}
              <div class="hidden">{{ field }}</div>
            {% else %}
              {% erplayout field %}
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <div class="panel-footer text-right">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>
          Hinzufügen
        </button>
      </div>
    </div>
  </div>
</div>
