{% load djangoerp_forms %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
  <label class="control-label col-lg-2 col-md-3">{{ field.label }}</label>
  <div class="col-lg-8 col-md-7">
    {% erpfield field form_as_view %}
    {% if not form_as_view %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}

      {% if field.help_text %}
        <p class="help-block">
          {{ field.help_text|safe }}
        </p>
      {% endif %}
    {% endif %}
  </div>
</div>
