{% extends "djangobmf/base.html" %}

{% load i18n %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block full_content %}
<div class="row">
    <div class="col-lg-9 col-sm-8">
        <ul class="nav nav-tabs">
            {% if glob_settings %}
            <li{% if datafilter == "unread" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' ct=selected_ct filter="unread" %}">{% trans "Unread" %}</a></li>
            <li{% if datafilter == "active" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' ct=selected_ct filter="active" %}">{% trans "Active" %}</a></li>
            <li{% if datafilter == "all" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' ct=selected_ct filter="all" %}">{% trans "All" %}</a></li>
            {% else %}
            <li{% if datafilter == "unread" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' filter="unread" %}">{% trans "Unread" %}</a></li>
            <li{% if datafilter == "active" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' filter="active" %}">{% trans "Active" %}</a></li>
            <li{% if datafilter == "all" %} class="active"{% endif %}><a href="{% url 'djangobmf:notification' filter="all" %}">{% trans "All" %}</a></li>
            {% endif %}
        </ul>
        <p class="text-right" style="padding: 0.5em 0">
            {% if glob_settings %}
                {% trans "Default settings" %}:
                <button class="btn {% if glob_settings.new_entry %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.created }}"></span></button>

                {% if has_detectchanges %}
                    <button class="btn {% if glob_settings.changed %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.updated }}"></span></button>
                {% endif %}

                {% if has_workflow %}
                    <button class="btn {% if glob_settings.workflow %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.workflow }}"></span></button>
                {% endif %}

                {% if has_comments %}
                    <button class="btn {% if glob_settings.comment %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.comment }}"></span></button>
                {% endif %}

                {% if has_files %}
                    <button class="btn {% if glob_settings.file %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.file }}"></span></button>
                {% endif %}
                <a class="btn btn-warning bmfedit" href="{% url 'djangobmf:notification-edit' pk=glob_settings.pk %}">
                    <span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}
                </a>
            {% else %}
                <button class="btn disabled" href="#">Select a category to edit the default settings</button>
            {% endif %}
        </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Entry" %}</th>
                    <th style="width: 150px;">{% trans "Time" %}</th>
                    <th style="width: 45px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                {# TODO #}
        <tr{% if not item.active %} class="text-muted"{% endif %}>
            <td>
                <span class="text-truncate" style="width:100%; display: block">
                    <span class="glyphicon {{ item.activity.get_symbol }}"></span>
                    <a href="{{ item.watch_object.bmfmodule_detail }}">{{ item.watch_object }}</a>
                </span>
            </td>
            <td class="text-right">
                {% if item.is_active %}
                {% if has_detectchanges %}
                <button class="btn btn btn-xs {% if item.changed %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.updated }}"></span></button>
                {% endif %}
                {% if has_workflow %}
                <button class="btn btn btn-xs {% if item.workflow %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.workflow }}"></span></button>
                {% endif %}
                {% if has_comments %}
                <button class="btn btn btn-xs {% if item.comment %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.comment }}"></span></button>
                {% endif %}
                {% if has_files %}
                <button class="btn btn btn-xs {% if item.file %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.file }}"></span></button>
                {% endif %}
                {% endif %}
                <a class="btn btn-xs btn-warning bmfedit" href="{% url "djangobmf:notification-edit" pk=item.pk %}">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </td>
        </tr>
                <tr{% if not item.unread %} class="text-muted"{% endif %}>
                    <td>
                        <span class="text-truncate" style="width:100%; display: block">
                            <span class="glyphicon {{ item.activity.get_symbol }}"></span>
                            {#<a href="#">#}[{{ item.watch_ct }}] ({{ item.watch_pk }}){#</a>#}
                            <br>
                            <small>{{ item.created_by.get_full_name }}</small>
                            {{ item.watch_id }}
                        </span>
                    </td>
                    <td>
                        {{ item.created|timesince }}<br><small>{{ item.created|date:"SHORT_DATETIME_FORMAT" }}</small>
                    </td>
                    <td class="text-right">
                        {% url 'djangobmf:notification-edit' pk=item.pk %}
                        <a class="btn btn-xs btn-primary" href="{{ item.obj.bmfmodule_detail }}">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </td>
                </tr>
                {# TODO #}
                {% empty %}
                <tr>
                    <td colspan="3"><em>{% trans "You dont have notifications" %}</em></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
            <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% endif %}
        </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3 col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li{% if not selected_ct %} class="active"{% endif %}>
                <a href="{% url 'djangobmf:notification' filter=datafilter %}">
                    {% if unread > 0 %}<span class="badge pull-right">{{ unread }}</span>{% endif %}
                    {% trans "All" %}
                </a>
            </li>
            {% for item in navigation|dictsort:"name" %}
            {% if item.visible or item.count %}
            <li{% if item.ct == selected_ct %} class="active"{% endif %}>
                <a href="{% url 'djangobmf:notification' ct=item.ct filter=datafilter %}">
                    {% if item.count %}<span class="badge pull-right">{{ item.count }}</span>{% endif %}
                    {{ item.name }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
