{% extends "djangobmf/base_modal.html" %}

{% load i18n %}

{% block title %}{% trans "Update Notification" %}{% endblock %}

{% block base_buttons %}
<button type="button" class="btn bmfedit-cancel btn-danger">{% trans "Close" %}</button>
<button type="button" class="btn bmfedit-submit btn-success">{% trans "Save changes" %}</button>
{% endblock %}

{% block base_content %}
{% csrf_token %}
{{ form.as_p }}

{% comment %}
<div class="checkbox">
    <label>{{ form.file }} {{ form.file.label }}: <span class="text-info glyphicon {{ symbols.file }}"></span></label>
    <span class="help-block">{{ form.file.help_text }}</span>
</div>
{% endcomment %}

{% endblock %}
