{% extends "djangobmf/base_full.html" %}
{% load i18n %}

{% block title %}{% if object.name %}{% trans "Dashboard" %} - {{ object.name }}{% else %}{% trans "Dashboards" %}{% endif %}{% endblock %}

{% block base_headline %}
<div class="page-header">
{% if object.name %}
  <h1>{{ object.name }}<span class="pull-right">
    <a href="{% url "djangobmf:dashboard_update" pk=object.pk %}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}</a>
    <a href="{% url "djangobmf:dashboard_delete" pk=object.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
  </h1>
{% else %}
  <h1>{% trans "Dashboards" %}<span class="pull-right">
      <a href="{% url "djangobmf:dashboard_create" %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a>
    </span> 
  </h1>
{% endif %}
</div>
{% endblock %}

{% block base_content %}
<div class="alert alert-info" style="font-size: 150%">
  <span class="glyphicon glyphicon-cog"></span>
  TODO: Add plugins to a Dashboard
</div>
{% endblock %}
