{% load i18n %}
<div class="panel panel-default">
  <div class="panel-heading"><h2 class="panel-title">{% trans "Dashboards" %}</h2></div>
  {% if djangobmf.dashboard %}
  <div class="list-group">
    {% for dashboard in djangobmf.dashboard %}
      <a class="list-group-item" href="{% url "djangobmf:dashboard" pk=dashboard.pk %}">{{ dashboard.name }}</a>
    {% endfor %}
  </div>
  {% else %}
  <div class="panel-body">
    {% trans 'Click on "add" to create a new dashboard' %}
  </div>
  {% endif %}
</div>
<div class="panel panel-default">
  <div class="list-group">
      <a class="list-group-item" href="{% url 'djangobmf:modules' %}">{% trans "Module overview" %}</a>
  </div>
</div>
