{% extends "djangoerp/module_index.html" %}

{% load i18n %}

{% block title %}{% trans "Projects" %}{% endblock %}

{% block base_content %}
<h1>{% trans "Projects" %}</h1>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
        <th width="50%">{% trans "Name" %}</th>
        <th width="25%">{% trans "Customer" %}</th>
        <th width="25%">{% trans "Employee" %}</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
  <tr>
      <td>
          {% if obj.is_active %}
          <span class="glyphicon glyphicon-unchecked"></span>
          {% else %}
          <span class="glyphicon glyphicon-check"></span>
          {% endif %}
          <a href="{{ obj.erpmodule_detail }}">{{ obj.name }}</a>
      </td>
      <td>{{ obj.customer }}</td>
      <td>{{ obj.employee }}</td>
      <td class="text-right">
        <a class="btn btn-xs btn-primary" href="{{ obj.erpmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
