{% extends "djangoerp/base_sitebar_l.html" %}
{% load sekizai_tags i18n %}

{% block breadcrumb %}
{% if object.name %}
  <li><a href="{% url 'djangoerp:dashboard' djangoerp.dashboard_current.pk %}">{{ djangoerp.dashboard_current.name }}</a></li>
{% endif %}
{% endblock %}

{% block base_headline %}
<div class="page-header">
{% if object.name %}
  <h1>{{ object.name }}<span class="pull-right">
    <a href="{% url "djangoerp:dashboard_update" pk=object.pk %}" class="btn btn-warning"><span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}</a>
    <a href="{% url "djangoerp:dashboard_delete" pk=object.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
  </h1>
{% else %}
  <h1>{% trans "Dashboards" %}<span class="pull-right">
      <a href="{% url "djangoerp:dashboard_create" %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a>
    </span> 
  </h1>
{% endif %}
</div>
{% endblock %}

{% block base_content %}
<form action="{{ action_link }}" method="post">
  {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Send" />
</form>
{% endblock %}

{% block sitebar %}
{% if object.name %}

{% addtoblock "js" %}
<script>
$(function() {
    $( ".erplist_sortable" ).sortable({
        distance: 15,
        cursor: "move"
    }).disableSelection();
});
</script>{% endaddtoblock %}

<ul id="sortable1" class="list-group erplist_sortable">
    <li class="list-group-item">Item 1 <a href="#">edit</a></li>
    <li class="list-group-item">Item 2 <a href="#">edit</a></li>
    <li class="list-group-item">Item 3 <a href="#">edit</a></li>
</ul>
<ul id="sortable2" class="list-group erplist_sortable">
    <li class="list-group-item">Item 1</li>
    <li class="list-group-item">Item 2</li>
    <li class="list-group-item">Item 3</li>
</ul>

  {% regroup djangoerp.views|dictsort:"category" by category as view_list %}
  {% for view in view_list %}
  <div class="panel panel-default">
      {% if view.grouper %}
          <div class="panel-heading"><h2 class="panel-title">{{ view.grouper }}</h2></div>
      {% endif %}
      <ul class="list-group">
          {% for item in view.list|dictsort:"name" %}
          <li class="list-group-item">{{ item.name }}</li>
          {% endfor %}
      </ul>
  </div>
  {% endfor %}
{% else %}{% include "djangoerp/dashboard/sitebar.html" %}
{% endif %}
{% endblock %}

{% block title %}{% trans "Update dashboard" %}{% endblock %}

