{% load i18n %}
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th width="59%">{{ title }}</th>
      <th width="22%">{% trans "Employee" %}</th>
      <th width="14%">{% trans "State" %}</th>
      <th width="5%"></th>
    </tr>
  </thead>
  {% if add %}
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
          <a class="btn btn-xs btn-success" href="{% url "djangoerp:module_djangoerp_task_task:create" %}?next={{ request.path }}&amp;data[goal]={{ object.pk }}&amp;data[project]={{ object.project_id|default:"" }}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </td>
    </tr>
  </tfoot>
  {% endif %}
  <tbody>
    {% for obj in object_list %}
    <tr{% if obj.state == "cancelled" or obj.state == "finished" %} class="text-muted" {% endif %}>
      <td>
          {% if obj.state == "review" %}<span class="label label-info">{% trans "review" %}</span>{% endif %}
          {% if obj.state == "started" %}<span class="label label-primary">{% trans "started" %}</span>{% endif %}
          {% if obj.state == "hold" %}<span class="label label-warning">{% trans "hold" %}</span>{% endif %}
          {{ obj.summary }}
          {% if obj.project or obj.goal %}<br /><small>
              <strong>{{ obj.project }}</strong> {{ obj.goal }}
          </small>
          {% endif %}
      </td>
      <td>{% if obj.employee %}{{ obj.employee }}{% else %}<i>{% trans "None" %}</i>{% endif %}
          {% if obj.due_date %}{% if obj.state == "new" or obj.state == "started" or obj.state == "open" %}<br />
          <small>
            {% if obj.due_days <= 3 %}<span class="label label-danger"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days > 3 and obj.due_days < 7 %}<span class="label label-warning"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            {% if obj.due_days >= 7 %}<span class="label label-success"><span class="glyphicon glyphicon-time"></span></span>{% endif %}
            <strong>{{ obj.due_date }}</strong>
            {# if obj.due_days %}<br />{{ obj.due_date|timeuntil }}{% endif #}
          </small>
          {% endif %}{% endif %}
      </td>
      <td>{{ obj.get_workflow_state }}<br /><small>{{ obj.modified|date:"SHORT_DATE_FORMAT" }}</small></td>
      <td class="text-right">
          <a class="btn btn-xs btn-primary" href="{{ obj.erpmodule_detail }}?next={{ request.path }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
