{% extends "djangobmf/module_index.html" %}

{% block base_content %}
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>{{ obj }}</td>
      <td>{{ obj.project }}</td>
      <td>{{ obj.get_workflow_state }}</td>
      <td class="text-right">
        <a class="btn btn-xs btn-primary" href="{{ obj.bmfmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
