{% extends "djangoerp/watch/base.html" %}

{% load i18n %}

{# block title %}{% trans "Watching" %}{% endblock #}
{# block breadcrumb %}<li><a href="{% url 'djangoerp:watch' %}">{% trans "Watching" %}</a></li>{% endblock #}

{% block watch_content %}
{% if selected_ct %}
<p class="text-right" style="padding: 0.5em 0">
    {% trans "Default settings" %}:
    <button class="btn {% if glob_settings.new_entry %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.created }}"></span></button>
    {% if has_detectchanges %}
    <button class="btn {% if glob_settings.changed %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.updated }}"></span></button>
    {% endif %}
    {% if has_workflow %}
    <button class="btn {% if glob_settings.workflow %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.workflow }}"></span></button>
    {% endif %}
    {% if has_comments %}
    <button class="btn {% if glob_settings.comment %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.comment }}"></span></button>
    {% endif %}
    {% if has_files %}
    <button class="btn {% if glob_settings.file %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.file }}"></span></button>
    {% endif %}
    <a class="btn btn-default btn-warning" href="{% url 'djangoerp:watch_edit' ct=selected_ct %}">
        <span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}
    </a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans "Entry" %}</th>
            <th style="width: 155px;"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr{% if not item.active %} class="text-muted"{% endif %}>
            <td>
                <span class="text-truncate" style="width:100%; display: block">
                    <span class="glyphicon {{ item.activity.get_symbol }}"></span>
                    <a href="{{ item.watch_object.erpmodule_detail }}">{{ item.watch_object }}</a>
                </span>
            </td>
            <td class="text-right">
                {% if item.active %}
                {% if has_detectchanges %}
                <button class="btn btn btn-xs {% if item.changed %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.updated }}"></span></button>
                {% endif %}
                {% if has_workflow %}
                <button class="btn btn btn-xs {% if item.workflow %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.workflow }}"></span></button>
                {% endif %}
                {% if has_comments %}
                <button class="btn btn btn-xs {% if item.comment %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.comment }}"></span></button>
                {% endif %}
                {% if has_files %}
                <button class="btn btn btn-xs {% if item.file %}btn-info{% else %}btn-default{% endif %} disabled"><span class="glyphicon {{ symbols.file }}"></span></button>
                {% endif %}
                {% endif %}
                <a class="btn btn-xs btn-warning" href="{% url "djangoerp:watch_edit" ct=selected_ct pk=item.watch_id %}">
                    <span class="glyphicon glyphicon-wrench"></span>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2"><em>{% trans "You don't watch any activities on this model" %}</em></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
TODO: Write help text for the watching feature
{% endif %}

{% if is_paginated %}
<ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next"><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endblock %}
