{% extends "djangoerp/module_index.html" %}

{% load mptt_tags %}

{% block base_content %}

<ul>
    {% recursetree object_list %}
    <li>
        {{ node.number }} {{ node.name }}
           {% if not node.is_leaf_node %}
               <ul class="children">
                   {{ children }}
               </ul>
           {% endif %}
    </li>
    {% endrecursetree %}
</ul>

<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Account</th>
      <th>Balance</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr>
      <td>
        {% if obj.read_only %}
        <span class="glyphicon glyphicon-lock"></span>
        {% else %}
        <span class="glyphicon glyphicon-pencil"></span>
        {% endif %}
        {{ obj.number }}
      </td>
      <td>{{ obj.name }}</td>
      <td>{{ obj.get_balance }} {{ obj.balance }} {{ obj.balance_currency }}</td>
      <td>{{ obj.get_type_display }}</td>
      <td class="text-right">
        {% comment %}if not obj.read_only 
        <a class="btn btn-xs btn-danger" href="{% url 'erp_plugin_accounting_transaction:create' %}?credit={{ obj.pk }}">
          <span class="glyphicon glyphicon-circle-arrow-up"></span>
        </a>
        <a class="btn btn-xs btn-success" href="{% url 'erp_plugin_accounting_transaction:create' %}?debit={{ obj.pk }}">
          <span class="glyphicon glyphicon-circle-arrow-down"></span>
        </a>
         endif {% endcomment %}
        <a class="btn btn-xs btn-warning" href="{{ obj.erpmodule_detail }}">
          <span class="glyphicon glyphicon-list"></span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
