{% extends "djangoerp/base.html" %}

{% load i18n %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block full_content %}
<div class="row">
    <div class="col-lg-9 col-sm-8">
        <ul class="nav nav-tabs">
            {% if selected_ct %}
            <li{% if not all_data %} class="active"{% endif %}><a href="{% url 'djangoerp:notification' ct=selected_ct filter=None %}">{% trans "Unread notifications" %}</a></li>
            <li{% if all_data %} class="active"{% endif %}><a href="{% url 'djangoerp:notification' ct=selected_ct filter="all" %}">{% trans "All notifications" %}</a></li>
            {% else %}
            <li{% if not all_data %} class="active"{% endif %}><a href="{% url 'djangoerp:notification' filter=None %}">{% trans "Unread notifications" %}</a></li>
            <li{% if all_data %} class="active"{% endif %}><a href="{% url 'djangoerp:notification' filter="all" %}">{% trans "All notifications" %}</a></li>
            {% endif %}
            <li><a href="{% url 'djangoerp:watch' %}">{% trans "Watching" %}</a></li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Entry" %}</th>
                    <th style="width: 150px;">{% trans "Time" %}</th>
                    <th style="width: 45px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr{% if not item.unread %} class="text-muted"{% endif %}>
                    <td>
                        <span class="text-truncate" style="width:100%; display: block">
                            <span class="glyphicon {{ item.activity.get_symbol }}"></span>
                            {#<a href="#">#}[{{ item.obj_ct }}] {{ item.obj }}{#</a>#}
                            <br>
                            <small>{{ item.created_by.get_full_name }}</small>
                        </span>
                    </td>
                    <td>
                        {{ item.created|timesince }}<br><small>{{ item.created|date:"SHORT_DATETIME_FORMAT" }}</small>
                    </td>
                    <td class="text-right">
                        <a class="btn btn-xs btn-primary" href="{{ item.obj.erpmodule_detail }}">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3"><em>{% trans "You dont have notifications" %}</em></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
            <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="next"><a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
            {% endif %}
        </ul>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-3 col-sm-4">
        <ul class="nav nav-pills nav-stacked">
            <li{% if not selected_ct %} class="active"{% endif %}>
                <a href="{% url 'djangoerp:notification' filter=all_data %}">
                    {% if unread > 0 %}<span class="badge pull-right">{{ unread }}</span>{% endif %}
                    {% trans "All" %}
                </a>
            </li>
            {% for item in navigation|dictsort:"name" %}
            <li{% if item.obj_ct == selected_ct %} class="active"{% endif %}>
                <a href="{% url 'djangoerp:notification' ct=item.obj_ct filter=all_data %}">
                    {% if item.count %}<span class="badge pull-right">{{ item.count }}</span>{% endif %}
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
