{% extends "djangobmf/base.html" %}

{% block full_content %}
  <div class="row">
    <div class="col-lg-9 col-sm-8">
      {% block base_headline %}
      <div class="row">
        <div class="col-lg-12">
          {% block base_buttons %}{% endblock %}
          <hr>
        </div>
      </div>
      {% endblock %}
      {% block base_content %}{% endblock %}
      {% block base_footer %}{% endblock %}
    </div>
    <div class="col-lg-3 col-sm-4">{% block sitebar %}<div class="well">TODO: ADD Plugins</div>{% endblock %}</div>
  </div>
{% endblock %}
