{% extends "djangobmf/module_base.html" %}

{% load djangobmf_core %}
{% load djangobmf_forms %}
{% load i18n %}

{% block base_buttons %}
<div class="btn-toolbar pull-left" role="toolbar">
{% if files %} 
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span> {% trans "Files" %} {{ files.count }}</button>
    <ul class="dropdown-menu" role="menu">
      {% for file in files %}
      <li><a href="{{ file.bmffile_download }}">{{ file }}<br /><small>{{ file.size|filesizeformat }}</small></a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
<div class="btn-toolbar pull-right" role="toolbar">
    {% if bmfmodule.can_clone %}
    <div class="btn-group">
        <a class="btn btn-default btn-default bmfedit" href="{% get_bmf_url object "clone" %}">
            <span class="glyphicon glyphicon-transfer"></span>
        </a>
    </div>
    {% endif %}

    {% if bmfworkflow.enabled %}
     {% if bmfworkflow.transitions %}
       <div class="btn-group">
         <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{{ bmfworkflow.state }} <span class="caret"></span></button>
         <ul class="dropdown-menu" role="menu">
           {% for transition in bmfworkflow.transitions %}
           <li><a href="{% get_bmf_url object "workflow" transition=transition.0 %}">{{ transition.1 }}</a></li>
           {% endfor %}
         </ul>
       </div>
     {% else %}
       <div class="btn-group">
         <button type="button" class="btn btn-default disabled">{{ bmfworkflow.state }} <span class="caret"></span></button>
       </div>
     {% endif %}
    {% endif %}
    {% if bmfmodule.has_report %}
     <div class="btn-group">
     <a class="btn btn-default btn-success" href="{% get_bmf_url object "report" %}">
       <span class="glyphicon glyphicon-print"></span> {% trans "Print" %} 
     </a>
     </div>
    {% endif %}
    {% if bmfworkflow.state.update %}
     <div class="btn-group">
     <a class="btn btn-default btn-warning bmfedit" href="{% get_bmf_url object "update" %}">
       <span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}
     </a>
     </div>
    {% else %}
     <div class="btn-group">
     <a class="btn btn-default btn-default disabled" href="#">
       <span class="glyphicon glyphicon-wrench"></span> {% trans "Edit" %}
     </a>
     </div>
    {% endif %}

    <div class="btn-group">
        {% if bmfactivity.notification %}
            {% if bmfactivity.watch %}
                <a href="{% url "djangobmf:notification-update" pk=bmfactivity.notification.pk %}" class="btn {% if bmfactivity.notification.unread %}btn-info{% else %}btn-default{% endif %} bmfedit">
                    <span class="glyphicon glyphicon-star"></span>
                </a>
            {% else %}
                <a href="{% url "djangobmf:notification-update" pk=bmfactivity.notification.pk %}" class="btn btn-default bmfedit">
                    <span class="glyphicon glyphicon-star-empty"></span>
                </a>
            {% endif %}
        {% else %}
            <a href="{% url 'djangobmf:notification-create' ct=bmfactivity.ct pk=object.pk %}" class="btn btn-default bmfedit">
                <span class="glyphicon glyphicon-star-empty"></span>
            </a>
        {% endif %}

        {% if files %}
            <a class="btn btn-default btn-info" href="#">
                <span class="glyphicon glyphicon-paperclip"></span>
            </a>
        {% else %}
            <a class="btn btn-default btn-default disabled" href="#">
                <span class="glyphicon glyphicon-paperclip"></span>
            </a>
        {% endif %}

        {% if bmfworkflow.state.delete %}
            <a class="btn btn-default btn-danger" href="{% get_bmf_url object "delete" %}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% else %}
            <a class="btn btn-default btn-default disabled" href="#">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% endif %}
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block base_content %}{{ block.super }}{% if related_views %}<ul class="nav nav-pills">
    {% for data in related_views.values|dictsort:"name" %}
    <li{% if data.active %} class="active"{% endif %}><a href="{% get_bmf_url object "detail" %}{% if not data.active %}?open={{ data.key }}{% endif %}">{{ data.name }}</a></li>
    {% endfor %}
</ul>{% endif %}{% endblock %}
