{% extends "djangobmf/module_index.html" %}

{% load i18n %}

{% block base_content %}
{% regroup object_list by project as projects %}
{% for project in projects %}
{% if project.grouper %}<h3>{% trans "Project" %}: <a href="{{ project.grouper.bmfmodule_detail }}">{{ project.grouper }}</a></h3>{% endif %}
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
        <th width="70%">{% trans "Summary" %}</th>
        <th width="30%">{% trans "Current State" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in project.list %}
  <tr>
      <td>
          {% if obj.completed %}
          <span class="glyphicon glyphicon-check"></span>
          {% else %}
          <span class="glyphicon glyphicon-unchecked"></span>
          {% endif %}
          <a href="{{ obj.bmfmodule_detail }}">{{ obj.summary }}</a>
      </td>
      <td class="text-center">
          {% if obj.completed %}
          <span class="text-muted">{% trans "completed" %}</span>
          {% else %}
             {% with obj.get_states as states %}
                 <div class="progress" style="margin: 0">
                     {% if states.done %}
                     <div class="progress-bar progress-bar-success" style="width: {{ states.done }}%"></div>
                     {% endif %}
                     {% if states.review %}
                     <div class="progress-bar progress-bar-primary" style="width: {{ states.review }}%"></div>
                     {% endif %}
                     {% if states.hold %}
                     <div class="progress-bar progress-bar-warning" style="width: {{ states.hold }}%"></div>
                     {% endif %}
                 </div>
             </a>
             {% endwith %}
          {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
