{% extends "djangoerp/module_base.html" %}

{% load djangoerp_core %}
{% load i18n %}

{% block breadcrumb %}
{{ block.super }}<li>{% trans "New" %}</li>
{% endblock %}

{% block base_buttons %}
<div class="btn-toolbar pull-right" role="toolbar">
  <div class="btn-group">
  <a class="btn btn-default btn-sm btn-warning" href="{% get_erp_url erpmodel "index" %}">
    <span class="glyphicon glyphicon-hand-left"></span> {% trans "Back" %}
  </a>
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}
